<mat-card>
    
    <div class="card">
    <div class="card-body">

        <h2 [ngStyle]="{
     color : isInEditMode ? 'orange' : 'green'}" [style.text-align]="'center'">
     {{isInEditMode? 'Update Student': 'Add Student'}}</h2>

        <div class="form-group">
            <label for="fname">First Name</label>
            <input #fname type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input #lname type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input #email type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Contact">Contact</label>
            <input #contact type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="isActive">Is Active</label>
            <select #isActive class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <button
        (click)="onStdAdd()"
        *ngIf="!isInEditMode"
        mat-raised-button color="primary" class="btn-block">Add Student</button>
        
        <button
        (click)="onUpdate()"
        *ngIf="isInEditMode"
        mat-raised-button color="warn" class="btn-block">Update Student</button>
</div>
</div>
</mat-card>
<hr>