<mat-card>
    <table class="table table-bordered" *ngIf="getStds.length > 0; else nostd">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Is Active</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let std of getStds; let i = index; trackBy : trackByFun ">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
            <td>{{std.isActive? 'Yes': 'No'}}</td>
            <td>
                <button
               mat-mini-fab color="primary" class="mr-2">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <button 
                 mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

</mat-card>

<ng-template #nostd>
    <p class="alert alert-info">
        No Students !!!
    </p>
</ng-template>